input {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    padding-left: 10px;
}

label {
    font-size: 20px;
}

textarea {
    border-radius: 8px;
    width: 100%;
    border: 1px solid transparent;
    font-size: 20px;
}

input[type=submit] {
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    background-color: #4f4f4f;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 20px;
  }

input[type=submit]:hover {
    border-color: #e0ff64;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em .2em;
    margin: 1em;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: rgb(102, 102, 102);
  }

button:hover {
    border-color: #646cff;
}

.header img {
    display: none;
}