:root {
  line-height: 1.5;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.search_box {
  font-size: 20px;
}

table {
  align-items: center;
  margin-left: 1%;
}

thead {
  font-size: 1.2em;
}

.main_parts {
  margin-left: 2%;
  margin-right: 2%;
}

.stats {
  font-size: 23px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #253e54;
    background-color: #dfdfdf;
  }
}